<div class="grid1">
    <div class="grid1left">
        <div class="container">
            <div class="row d-flex h-100">
                <div data-aos="zoom-in" class="col justify-content-center align-self-center text-center">
                        <h2>Your Massage at Your Home</h2>
                        <h3>Marvelous Masseuse is a proficient physical therapy service that offers the luxury of having a veritable massage and spa day from the comforts of home.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="grid1right">
        <img class="img-fluid" src="https://cdn.pixabay.com/photo/2017/01/06/18/28/essential-oils-1958550_960_720.jpg">
    </div>
</div>
<div class="grid2">
    <div class="grid2left">
        <img class="img-fluid" src="https://i.pinimg.com/originals/f8/b4/ca/f8b4cafb921c137f50734bb76e263f79.jpg">
    </div>
    <div class="grid2right">
        <div data-aos="zoom-in" class="container">
            <div class="row d-flex h-100">
                <div class="col justify-content-center align-self-center text-center">
                    <h2>All the Therapy You Need</h2>
                    <h3>
                            We offer various types of therapy ranging from physical injury assuagement, aromatherapy and more.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid1">
        <div class="grid1left">
            <div class="container">
                <div class="row d-flex h-100">
                    <div data-aos="zoom-in" class="col justify-content-center align-self-center text-center">
                        <h2>Better Health & Productivity</h2>
                        <h3> Studies show that treating yourself to a spa day at least once a week can help your health and fitness by relaxing tension to increase blood circulation and regulate blood pressure.This will in turn enable you to increase your productivity in your everyday life.
                            </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid1right">
            <img class="img-fluid" src="https://cdn.pixabay.com/photo/2017/01/06/18/28/essential-oils-1958550_960_720.jpg">
        </div>
    </div>
    <div class="grid2">
        <div class="grid2left">
            <img class="img-fluid" src="https://i.pinimg.com/originals/f8/b4/ca/f8b4cafb921c137f50734bb76e263f79.jpg">
        </div>
        <div class="grid2right">
            <div data-aos="zoom-in" class="container">
                <div class="row d-flex h-100">
                    <div class="col justify-content-center align-self-center text-center">
                        <h2>Schedule Your Next Appointment</h2>
                        <h3>*Open 7 days a week from 8AM to 10PM</h3>
                        <h3>*Option to request a specific employee</h3>
                        <h3>*Rates start off at $180/hr</h3>
                        <button routerLink="/appointment" class="btn btn-danger btn-lg">Schedule My Appointment</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>