<div class="container-fluid">
        <div class="row title">
                <div class="col d-flex text-left">
                    <h2 class="align-self-center">Admin Login</h2>
                </div>
            </div>
    <div class="row d-flex p*-2">
        <div class="col justify-content-center align-items-center text-center">
                <div *ngIf="afAuth.auth.currentUser">
                    <h4 class="mb-5">You are logged in</h4>
                    <button routerLink="/admin-panel" class="btn btn-danger btn-lg mr-2 mb-4">Go to Admin Panel</button>
                    <button class="btn btn-danger btn-lg" (click)="logout()">Logout</button>
        </div>
        <div *ngIf="!afAuth.auth.currentUser">
                <h4 class="mb-5">You are Logged Out</h4>
                    <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
                   (signInFailure)="errorCallback($event)"></firebase-ui>
               </div>
    </div>
</div>
</div>

