<div class="container-fluid">
        <div class="row title">
                <div class="col d-flex text-left">
                    <h2 class="align-self-center">Our Employees</h2>
                </div>
            </div>
    <div class="row emp" *ngFor="let emp of employees">
        <div class="col text">
          <p>{{emp.payload.doc.data().info.name}}</p>  
          <p>{{emp.payload.doc.data().info.bio}}</p>
        </div>
        <div class="col pic">
            <img class="img-fluid" src="{{emp.payload.doc.data().FileURL}}">
            <button type="button" class="btn btn-primary" *ngIf="emp.payload.doc.data().info.working">
                    Working <span class="badge badge-light">
                            <i class="far fa-check-circle"></i>
                    </span>
            </button>
        </div>
    </div>
</div>