<div class="container-fluid">
    <div [ngSwitch]="screen" class="row d-flex contact">
      <ng-container *ngSwitchCase="'left'">
          <div class="col-xs-12 col-sm-4 align-self-center text-center title">
              <a routerLink="/home"><h1>Marvelous Masseuse</h1></a> 
          </div>
        <div data-aos="slide-down" class="col align-self-center text-left phone mt-3">
            <p>marvelous.masseuse01gmail.com</p>  
            <p>206-408-8922</p>
        </div>
      </ng-container>
       <ng-container *ngSwitchCase="'center'">
          <div data-aos="slide-down" class="col align-self-center text-left phone mt-3">
              <p>marvelous.masseuse01gmail.com</p>  
              <p>206-408-8922</p>
          </div>
          <div class="col-xs-12 col-sm-4 align-self-center text-center title">
              <a routerLink="/home"><h1>Marvelous Masseuse</h1></a> 
          </div>
       </ng-container>
        <div data-aos="slide-down" class="col-xs-12 col-sm-2 text-right align-self-center">
            <a routerLink ="#"><i class="fab fa-facebook mr-2"></i></a>
            <a routerLink ="#"><i class="fab fa-instagram mr-2"></i></a>    
            <a routerLink ="#"><i class="fab fa-twitter mr-2"></i></a>
        </div>
        <div data-aos="slide-down" class="col-sm-2 col-xs-12 text-right align-self-center">
            <a routerLink="/appointment"><button class="btn btn-danger btn-sm">Book spa day</button></a> 
        </div>
  </div>
  </div>
<nav [ngSwitch]="button" class="navbar navbar-expand-lg navbar-light bg-white">
        <ng-container *ngSwitchCase="'square'">
            <button  (click)="isCollapsed = !isCollapsed; buttonToggle($event)"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </ng-container>  
        <ng-container *ngSwitchCase="'cross'">
          <button (click)="isCollapsed = !isCollapsed; buttonToggle($event)"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
              <i class="far fa-window-close"></i>
          </button> 
        </ng-container>
        <ng-container *ngSwitchDefault>
            <button  (click)="isCollapsed = !isCollapsed; buttonToggle($event)"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </ng-container>
    <div [class.show]="isCollapsed" class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav text-center mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointment">Book a Spa Day</a>
        </li>
      </ul>
    </div>
  </nav>