.bg-white {
    font-weight: 700;
    background-color: rgba(150, 40, 27, 1)!important;
  }


  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
  }

  .container-fluid {
    padding: 0;
  }

  /* .col-sm-2 {
    padding-left: 0;
  } */

  .phone {
    line-height: 0.5em;
  }

   .contact {
    padding: 0.5em 1em;
    background-color: rgba(150, 40, 27, 1);
    color: white;
  }

  .title a h1{
    padding: 0;
    /* margin: 1em 0; */
    color: white;
    text-decoration: none;
  }

  .phone a {
    color: white
  }
  /* .title {
    background-color: rgba(150, 40, 27, 1);
  } */

 .row {
   margin-right: 0;
   margin-left: 0;
 }

  .title .col {
    padding: 0;
  }

  .title a:hover{
    text-decoration: none;
  }

  /* svg:not(:root).svg-inline--fa {
    display: none;
  } */

  @media only screen and (max-width: 600px) {
    .text-right, .text-left {
      text-align: center!important;
      margin-bottom: 0.5em;
    }

    /* svg:not(:root).svg-inline--fa {
      display: inline;
    } */

  }

  @media only screen and (min-width: 600px) and (max-width: 1000px) {
    .contact {
      display: grid!important;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }

    .title {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    .phone {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

  }
