<!-- <div *ngFor="let bg of bg"> -->
            <div [ngClass]="{'bg1':bg[0][0].background === 'bg1'}">
                        <!-- <ngb-carousel *ngIf="images" [interval]="false" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
                                    <ng-template ngbSlide *ngFor="let image of images">
                                      <div class="picsum-img-wrapper">
                                        <!-- <img [src]="image" alt="Random slide"> -->
                                      <!-- </div>
                                      <div class="carousel-caption">
                                        <h3>No mouse navigation</h3>
                                        <p>This carousel hides navigation arrows and indicators.</p>
                                      </div>
                                    </ng-template>
                                  </ngb-carousel> --> 
                                  
            
            
                <div class="position" data-aos="zoom-in" data-aos-once="true">
                        <h1 class="display-3">Welcome to Marvelous Masseuse</h1>
                  </div>
            </div>
<!-- </div> -->
