<div class="container-fluid">
            <div class="row d-flex">
                <div class="col justify-content-center align-items-center- text-center">
                    <ul>
                        <li>
                            <a routerLink="/home">Home</a>
                        </li>
                        <li>
                            <a routerLink="/employees">Our Employees</a>
                        </li>
                        <li>
                            <a routerLink="/appointment">Book a Spa Day</a>
                        </li>
                        <li class="pt-5 pb-1">
                            <p>2019. Copyrights <a href="https://www.brcdevelopers.com">BRC Developers</a></p>
                        </li>
                    </ul>
                </div>
            </div>
</div>
