<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row"></div>
            <div class="row">
                <div class="col text-center">
                    <a routerLink="/admin">Admin Login</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>2019. Copyrights <a href="https://www.brcdevelopers.com"></a>BRC Developers</p>
                </div>
            </div>
        </div>
    </div>
</div>
